/* Empty. Add your own CSS if you like */

@font-face {
    font-family: "KabelITC";
    src: url('../fonts/KabelITCbyBT-Medium.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 700;
}

.scroll-bg {
    background: url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thankyou {
    background-image: url('../img/thankyou.png')
}

.font500 {
    font-weight: 500;
}

.bar {
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.brand img {
    width: 60%;
}

.brand {
    text-align: center;
    margin-top: -7%;
}

.signin .input-label {
    width: auto;
}

.signin .item {
    background: rgba(255, 255, 255, 0.65);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    border-color: transparent;
}

.signin .item+.item {
    margin-top: 2px;
}

.signin select {
    background: transparent;
}

.button-image {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.button-text {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    margin-top: -4px;
}

.socials img {
    width: 45px;
}

.socials img+img {
    margin-left: 10px;
}

.socials {
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0 0;
}

a {
    color: #b3b3b3;
}

.pull-right {
    float: right;
}

.links {
    padding: 0 20px;
    font-size: 12px;
}

.simple-text {
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 150%;
}

.full_brand img {
    width: 80%;
    max-width: 100%
}

.full_brand {
    text-align: center;
    padding-top: 40px;
    width: 100%;
}

.bold {
    font-weight: 600;
}

.icon-sprite {
    height: 40px;
    display: inline-block;
    background: url(../img/category-sprite.png) no-repeat;
    -webkit-background-size: auto 40px;
    -moz-background-size: auto 40px;
    -o-background-size: auto 40px;
    background-size: auto 40px;
}

.icon-sprite.home {
    width: 42px;
}

.icon-sprite.improvement {
    width: 42px;
    background-position-x: -44px;
}

.icon-sprite.automobile {
    width: 43px;
    background-position-x: -88px;
}

.icon-sprite.travel {
    width: 23px;
    background-position-x: -132px;
}

.row.no-pad {
    padding: 0;
}

.icon-sprite+.simple-text {
    margin-top: 5px;
    font-size: 10px;
}

.width90,
.deal-form {
    padding: 10px;
}

.width90 .item {
    padding: 6px 30px 5px 10px;
}

.deal-form,
.deal-form .button-image,
.deal-form .item,
.width90,
.width90 .button-image,
.width90 .item {
    width: 100%;
}

.width90 .input-label {
    position: absolute;
    right: 0px;
    top: 5px;
}

.item-input .icon {
    font-size: 18px;
}

.x2 {
    font-size: 120%;
}

.x3 {
    font-size: 150%;
}

.genie-img img {
    width: 70%;
}

.genie-img {
    text-align: center;
    margin-top: 30%;
}

.gradient-list .item>a.activated {
    background: -webkit-gradient(linear, left top, left bottom, from(#9B9B9B), to(#9B9B9B));
    background: -webkit-linear-gradient(#9B9B9B, #9B9B9B);
    background: -moz-linear-gradient(#9B9B9B, #9B9B9B);
    background: -o-linear-gradient(#9B9B9B, #9B9B9B);
    background: linear-gradient(#9B9B9B, #9B9B9B);
}

.gradient-list .item,
.gradient-list .item>a {
    background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#9B9B9B));
    background: -webkit-linear-gradient(#DFDFDF, #9B9B9B);
    background: -moz-linear-gradient(#DFDFDF, #9B9B9B);
    background: -o-linear-gradient(#DFDFDF, #9B9B9B);
    background: linear-gradient(#DFDFDF, #9B9B9B);
}

.odd-even .item:nth-child(odd),
.odd-even .item:nth-child(odd)>a {
    background-color: #cccccc;
}

.odd-even .item:nth-child(even),
.odd-even .item:nth-child(even)>a {
    background-color: #b3b3b3;
}

.odd-even .item:nth-child(odd)>a.activated {
    background: #B3B3B3;
}

.odd-even .item:nth-child(even)>a.activated {
    background: #ccc;
}

.icon-on-left .item {
    border: 0px;
    height: 100px;
}

.icon-on-left .texter {
    left: 130px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-holder {
    position: relative;
    height: 70px;
    width: 100px;
}

.item-sprite {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    background: url('../img/category-sprite1.png') no-repeat;
}

.item-sprite.car {
    width: 80px;
    height: 24px;
    background-position-y: -351px;
}

.item-sprite.home {
    height: 42px;
    width: 45px;
    background-position-y: -387px;
}

.item-sprite.inhome {
    height: 31px;
    width: 70px;
    background-position-y: -514px;
}

.item-sprite.bike {
    height: 47px;
    width: 70px;
    background-position-y: -443px;
}

.item-sprite.travel {
    height: 66px;
    width: 70px;
    background-position-y: -554px;
}

.item-sprite.person {
    height: 50px;
    width: 68px;
    background-position-y: -636px;
}

.item-sprite.cards {
    height: 50px;
    width: 50px;
    background-position-y: -701px;
}

.item-sprite.security {
    height: 25px;
    width: 80px;
    background-position-y: -764px;
}

.item-sprite.eduction {
    height: 30px;
    width: 68px;
    background-position-y: -801px;
}

.item-sprite.property {
    height: 46px;
    width: 68px;
    background-position-y: 0;
}

.item-sprite.contruction {
    height: 58px;
    width: 68px;
    background-position-y: -55px;
}

i.item-sprite.health {
    height: 39px;
    width: 52px;
    background-position-y: -124px;
}

i.item-sprite.commercial {
    height: 43px;
    width: 72px;
    background-position-y: -172px;
}

i.item-sprite.business {
    height: 49px;
    width: 65px;
    background-position-y: -227px;
}

i.item-sprite.project {
    height: 50px;
    width: 52px;
    background-position-y: -286px;
}

.home-icon img {
    width: 80%;
}

.home-icon h6 {
    margin: 0px;
}

.pad-up {
    padding-top: 50px;
}

.atbottom {
    bottom: 20px;
    position: absolute;
    left: 0;
    z-index: 1;
    padding-top: 0px;
}

.bar .buttons span {
    font-size: 18px;
    vertical-align: top;
}

.home-icon a,
.genie-img a {
    text-decoration: none;
    display: block;
}

.opaque-bg .item {
    background: rgba(255, 255, 255, 0.9);
    border: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.thumb-left {
    width: 70px;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

img.ribbon {
    height: 40px;
    right: -5px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list-loan .item {
    overflow: visible;
    height: 200px;
    padding: 0px;
    padding-left: 90px;
}

.list-loan .row {
    height: 100px;
}

.list-loan .row p {
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: normal;
    height: 34px;
}

.list-loan p.simple-text {
    font-size: 11px;
}

.list-loan h3 {
    margin: 10px 0;
    font-family: inherit;
    font-size: 14px;
}

.list-loan .row p.simple-text {
    margin-top: 10px;
}

.bordered .col {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
}

.bordered+.bordered {
    border-top: 1px solid rgba(0, 0, 0, 0.35);
}

.list-loan .row + .row {
    margin: 0;
}

.button-apply {
    padding: 0px 8px;
    min-height: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    right: 0px;
    bottom: 25px;
    font-weight: 500;
}

.best-deal {
    color: white;
    background: rgb(227, 29, 26);
    position: absolute;
    left: 0px;
    top: 20px;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
}

p.padded {
    padding-bottom: 10px;
}

.deal-form .item.range {
    padding: 6px 10px 5px 10px;
    display: block;
}

.deal-form .range {
    display: block;
    width: 100%;
}

.deal-form .item.range p {
    display: block;
    color: #4d4d4d;
    font-size: 16px;
}

.deal-form .range input {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.range-item .range {
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.range-item {
    padding-bottom: 40px;
}

.item-checkbox {
    font-size: 16px;
    font-weight: normal;
    color: #4d4d4d;
}

.range input {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999), color-stop(100%, #999));
    background-image: -webkit-gradient(linear, left top, right top, from(#999), to(#999));
    background-image: -webkit-linear-gradient(left, #999 0%, #999 100%);
    background-image: -moz-linear-gradient(left, #999 0%, #999 100%);
    background-image: -o-linear-gradient(left, #999 0%, #999 100%);
    background-image: linear-gradient(to right, #999 0%, #999 100%);
}

.col.selected {
    background: rgba(0, 0, 0, 0.55);
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.col {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.item-gap .item+.item {
    margin-top: 5px;
}

button.eligibility {
    padding: 0px 0px;
    font-size: 11px;
    line-height: 2;
}

ion-item.item-dark.menu-dark a {
    font-size: small;
    text-align: center;
    padding: 10px 0;
}

.menu-spritely {
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    background: url('../img/menusprite.png') no-repeat;
}

.menu-lists {
    width: 140px;
    height: 40px;
}

.menu-spritely.plan {
    height: 54px;
    width: 45px;
    background-position-y: 0px;
}

.menu-spritely.retail {
    height: 45px;
    width: 48px;
    background-position-y: -57px;
}

.menu-spritely.finance {
    height: 54px;
    width: 50px;
    background-position-y: -104px;
}

.menu-spritely.genie {
    height: 35px;
    width: 50px;
    background-position-y: -156px;
}

.menu-spritely.account {
    height: 53px;
    width: 44px;
    background-position-y: -188px;
}

.menu-spritely.news {
    height: 46px;
    width: 48px;
    background-position-y: -243px;
}

.menu-spritely.contact {
    height: 45px;
    width: 44px;
    background-position-y: -294px;
}

.menu-spritely.share {
    height: 45px;
    width: 62px;
    background-position-y: -346px;
}

.menu-spritely.logout {
    height: 48px;
    width: 44px;
    background-position-y: -389px;
}

ion-item.item-dark.menu-dark a p {
    color: #fff;
    font-weight: 300;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "KabelITC", sans-serif-light;
}

.item-complex.item-dark > .item-content {
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3B3B), to(#161616));
    background: -webkit-linear-gradient(#3B3B3B, #161616);
    background: -moz-linear-gradient(#3B3B3B, #161616);
    background: -o-linear-gradient(#3B3B3B, #161616);
    background: linear-gradient(#3B3B3B, #161616);
    color: #fff;
}

img.edit {
    width: 40px;
}

.col-33.cls-bgcolor.bordered {
    background: #404040;
    padding: 5px;
    border-right: #000;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

.assest {
    position: absolute;
    left: 30px;
    width: 18%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

ion-list.list-myprofile .item {
    padding: 2px 6px;
    background: transparent;
    border: 0px;
}

.col-67.cls-bgcolors {
    background: #d8d8d8;
    border-right: 1px solid #d8d8d8;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

.bordereds .col {
    border-right: 1px solid rgba(0, 0, 0, 0.20);
    padding: 10px 5px;
}

.menu-dark {
    border: 0px;
}

ion-item.item-dark.menu-dark {
    background: #a9a9a9;
    border-color: #a9a9a9;
}

.amt-text {
    border-bottom: 1px solid #000;
}

.bordereds .col:last-child {
    border: 0;
}

.bordereds .col:last-child {
    border: 0;
}

.amt-text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 25px 0 10px 0;
}

.assest p {
    color: #fff;
    font-weight: 300;
}

.row.bordereds.main-accnt {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* border: 1px solid #404040; */
}

p.top-corner {
    position: absolute;
    font-weight: 400;
    top: 3px;
    right: 15px;
    color: #000;
    font-size: 12px;
}

.amt-text h2 {
    font-size: 18px;
}

.tabss {
    text-align: center;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    padding: 4px 0;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 0;
    width: 46%;
}

.tabss-color1 {
    background: #DF1916;
    border: 1px solid #DF1916;
}

.tabss-color2 {
    background: #898989;
    border: 1px solid #898989;
}

img.rights {
    width: 25px;
    margin-right: 3px;
}

.tabssdwn {
    text-align: center;
}

.tabssdwn span {
    color: #fff;
    font-size: 10px;
    position: relative;
    top: -10px;
}

.bordered .col-75 {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
}

textarea#enq_address {
    background: transparent;
}

.row.no-pad.bordereds h3 {
    font-family: inherit;
}

p.simple-text {
    font-size: 11px;
}

h3.margin-none {
    margin-top: 2px;
}

.item-content.disable-pointer-events {
    background: rgb(210, 210, 210);
    border-color: #D2D2D2;
}

label.item.item-radio.ng-valid {
    border: 0px;
}