<ion-view view-title="Loan" class="scroll-bg">
    <ion-content class="has-header padding">
        <div class="padding"></div>
        <ion-list class="opaque-bg list-loan">
            <ion-item ng-repeat="check in checklist" ng-if="check.display == true">
                <div class="best-deal">
                    Best Deal
                </div>

                <img src="img/ribbon.png" class="ribbon">

                <div class="thumb-left text-center">
                    <p class="simple-text padded">{{check.bank_name}}</p>
                    <img src="{{check.logo_image | bankimagepath}}" alt="" class="full-image">

                </div>

                <div class="row no-pad bordered text-center">
                    <div class="col">
                        <p class="simple-text">Eligible Amount (In Rs)</p>
                        <h3>{{check.eligible_loan_amount}}</h3>
                    </div>
                    <div class="col">
                        <p class="simple-text">Tenure (In Months)</p>
                        <h3>{{check.tenure}}</h3>
                    </div>
                    <div class="col">
                        <p class="simple-text">Rate of Interest (In %)</p>
                        <h3>{{check.roi}}</h3>
                    </div>
                    <div class="col">
                        <!--
                        <p class="simple-text">Max LTV(In %)</p>
                        <h3>90</h3>
-->
                    </div>
                </div>

                <div class="row no-pad bordered text-center">
                    <div class="col">
                        <p class="simple-text">EMI (In Rs)</p>
                        <h3>{{check.emi}}</h3>
                    </div>
                    <div class="col">
                        <p class="simple-text">Max LTV(In %)</p>
                        <h3>{{check.ltv}}%</h3>
                    </div>
                    <div class="col">
                        <p class="simple-text">Processing Fees (In %)</p>
                        <h3>{{check.processing}}</h3>
                    </div>
                    <div class="col">
<!--                        <a href="#/app/checkcarloan">-->
                        <a ng-click="checkeligibilitycar(check)">
                            <button class="button button-positive button-small button-apply eligibility">Check
                                <br> Eligibility</button>
                        </a>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>