<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">
                <label class="item item-input item-select">
                    <span class="input-label">Gender</span>
                    <select ng-model="refine.enq_gender">
                        <option>Please select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status
                    </div>
                    <select ng-model="refine.enq_maritial_status">
                        <option>Please Select</option>
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
<!--                        <option>Un-married</option>-->
                        <option>Widowed</option>
                        <option>Seperated</option>
                    </select>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select ng-model="refine.enq_status">
                        <option>Please select</option>
                        <option>Resident</option>
                        <option>NRI</option>
                        <option>Other</option>
                    </select>
                </label>


                <label class="item item-input">
                    <span class="input-label">Nationality</span>
                    <div class="">
                        <input type="text" ng-model="refine.enq_nationality">
                    </div>
                </label>
				  <label class="item item-input">
                    <span class="input-label">Pin Code</span>
                    <input type="text" ng-model="refine.enq_pincode">

                </label>
<!--
                <label class="item item-input item-select">
                    <div class="input-label">
                        Year of Manufacture
                    </div>
                    <select ng-model="refine.enq_manufacturer">
                        <option>2015</option>
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                    </select>
                </label>
-->

                <label class="item item-input item-select">
                    <div class="input-label">
                        Usage
                    </div>
                    <select ng-model="refine.enq_usage">
                        <option>Please Select</option>
                        <option>Personal</option>
                        <option>Commercial</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Existing Bank Relationship
                    </div>
                    <select ng-model="refine.selectAllexisting_bank_relationship">
                        <option>Please Select</option>
                        <option>HDFC</option>
                        <option>SBI</option>
                        <option>ICICI</option>
                        <option>AXIS</option>
                    </select>
                </label>
                <!--
                <label class="item item-input">
                    <span class="input-label">Existing Bank Relationship</span>
                    <input type="text">
                </label>
-->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?
                    </div>
                    <select ng-model="refine.enq_have_loan_ddl" ng-init="refine.enq_have_loan_ddl=''">
                        <option value="">Please Select</option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>
                <label class="item item-input" ng-if="refine.enq_have_loan_ddl != 'No' && refine.enq_have_loan_ddl != ''">
                    <span class="input-label">Total EMI Paid For Existing Loan</span>
                    <input type="text" ng-model="refine.enq_emi_existing_loan">
                </label>

                <label class="item item-input">
                    <span class="input-label">Current company/Business since</span>
                    <input type="date" ng-model="refine.salary_credited_since">
                </label>

                <label class="item item-input">
                    <span>Total Work Experience(yrs)</span>
                    <input type="text" ng-model="refine.owner_expiry_date">
                </label>

              

            </div>

<!--            <a href="#/app/carapply">-->
            <a ng-click="refinecar(refine)">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>