<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender</span>
                    <select>
                        <option>Please select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status
                    </div>
                    <select>
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Un-married</option>
                        <option>Widowed</option>
                        <option>Seperated</option>
                    </select>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Resident</option>
                        <option>NRI</option>
                        <option>Other</option>
                    </select>
                </label>


                <label class="item item-input">
                    <span class="input-label">Nationality</span>
                    <div class="">
                        <input type="text">
                    </div>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Year of Manufacture
                    </div>
                    <select>
                        <option>2015</option>
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Usage
                    </div>
                    <select>
                        <option>Personal</option>
                        <option>Commercial</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Existing Bank Relationship
                    </div>
                    <select>
                        <option>HDFC</option>
                        <option>SBI</option>
                        <option>ICIC</option>
                        <option>AXIS</option>
                    </select>
                </label>
                <!--
                <label class="item item-input">
                    <span class="input-label">Existing Bank Relationship</span>
                    <input type="text">
                </label>
-->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?
                    </div>
                    <select>
                        <option>&nbsp;</option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Current Employment Since</span>
                    <input type="date">
                </label>

                <label class="item item-input">
                    <span>Total Work Experience (yrs)</span>
                    <input type="text">
                </label>

                <label class="item item-input">
                    <span class="input-label">Pin Code</span>
                    <input type="text">

                </label>

            </div>

            <a href="#/app/thankyou">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>