<ion-view view-title="Commercial Equiment" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">


                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="sme.enq_name" ng-class="allvalidation[0].validation" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="sme.enq_email" ng-class="allvalidation[1].validation" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Date of Registration</span>
                    <input type="date" ng-model="sme.enq_dob" ng-class="allvalidation[2].validation" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Company Name</span>
                    <input type="text" ng-model="sme.enq_company_name" ng-class="allvalidation[3].validation" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Designation</span>
                    <input type="text" ng-model="sme.enq_designation" ng-class="allvalidation[4].validation" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <!--                    <textarea type="text" class="form-control" id="enq_address" name="enq_address" maxlength="100" placeholder="Enter your address" autocomplete="off"></textarea>-->
                    <input type="text" ng-model="sme.enq_address" ng-class="allvalidation[5].validation" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        State
                    </div>
                    <select ng-model="sme.enq_state" ng-class="allvalidation[6].validation" required>
                        <option ng-repeat="state in states | orderBy:'state_name'" value="{{state.state_id}}">{{state.state_name}}</option>
                        <!--                        <option>Karnataka</option>-->
                    </select>
                </label>
                <label class="item item-input" ng-click="selectcity();" ng-model="sme.enq_city" ng-class="allvalidation[7].validation" required>
                    <div class="input-label">
                        City*<span class="citysearch">{{cityName}}</span>
                    </div>
                    <!--
                    <select ng-model="sme.enq_city" ng-class="allvalidation[7].validation" required>
                        <option ng-repeat="city in cities | orderBy:'city_name'" value="{{city.city_id}}">{{city.city_name}}</option>
                    </select>
-->
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Product
                    </div>
                    <select ng-model="sme.enq_loanType_string" ng-class="allvalidation[8].validation" required>
                        <option>Please Select</option>
                        <option>Commercial Vehicle Finance</option>
                        <option>SME Finance</option>
                        <option>SME Business Solutions</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Loan Amount</span>
                    <input type="text" ng-model="sme.enq_loanAmtTo" ng-class="allvalidation[9].validation" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Country Code
                    </div>
                    <select ng-model="sme.enq_countryCode" ng-class="allvalidation[10].validation" required>
                        <option value="91">India +91</option>
                        <option value="91">India +91</option>
                    </select>
                </label>

                <label class="item item-input">
                    <div class="input-label">
                        Mobile No
                    </div>
                    <input type="text" ng-model="sme.enq_mobile" ng-class="allvalidation[11].validation" required>
                </label>

                <ion-item class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-click="iagree()">
                    </label>
                    I Agree
                </ion-item>
                <div class="text-center light" ng-click="openTerms();">Know more</div>
            </div>
            <a>
                <div class="button-image" ng-click="smesubmit(sme);">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>

    </ion-content>
</ion-view>