<ion-popup-view>
    <ion-content>
        <ion-list>
            <form class="item item-input-inset only-horizontal " ng-submit="doSearch(datasearch); ">
                <label class="item-input-wrapper ">
                    <input type="text " placeholder="Company Name " ng-model="datasearch " ng-change="doSearch(datasearch);" style="border: 0px;">
                </label>
                <button class="button button-icon ion-search " type="submit "></button>
            </form>

            <!--Repeat pincode, cities-->
            <ion-item ng-repeat="allpincode in allpincodes " ng-click="goPin(allpincode); ">{{allpincode.name}}, {{allpincode.po}}, {{allpincode.city}}</ion-item>

            <ion-item ng-if="allpincodes.length==0 ">No data found.</ion-item>

        </ion-list>

    </ion-content>
</ion-popup-view>