<ion-modal-view>
    <ion-content>
        <ion-header-bar class="bg-grnd">
            <h5 class="otp-title title">Meassage has been sent to your mobile</h5>
        </ion-header-bar>
        <div class="padding"></div>
        <div class="otp-header">
            Please verify your mobile no. <span>{{minutes}} : {{seconds}}</span>
        </div>
        <div class="code-made">
            <p>
                Enter the Verification code sent to your mobile number and click submit
            </p>
        </div>
        <div class="otp-cont">
            <label class="item item-input">
                <span class="input-label">Enter Code here</span>
                <input type="tel" ng-model="otpdata.userotp" ng-class="allvalidation[0].validation" required>
            </label>
        </div>
        <div class="buttons closebtn-otp">
            <button class=" button button-icon popup-btn" ng-click="resendclick();"> Resend</button>
        </div>

        <div class="btn-otp">
            <div class="button-image">
                <button ng-click="otpsubmit(otpdata)">
                    <img src="img/button.png" alt="" class="full-image">
                    <div class="button-text assertive">Submit</div>
                </button>
            </div>
        </div>
        <div class="buttons closebtn-otp">
            Can't verify by verification code?
            <a href="#"> Click Here</a>
        </div>
        <div class="buttons closebtn-otp pad-top">
            <button class=" button button-icon popup-btn" ng-click="closeModalOTP(); "> Close</button>
        </div>
    </ion-content>
</ion-modal-view>