<ion-view view-title="Contact Us" class="scroll-bgsss">
    <ion-content class="has-header">
        <div class="padding"></div>
        <div class="head-conct">
            <p>For Customer Service, Feedback,
                <br> Complaint or General Enquiry</p>
        </div>
        <ion-list class="icon-on-left contactus">
            <!--
            <ion-item href="#/app/personal">
                <div class="icon-holder">
                    <i class="item-sprite person"></i>
                </div>
                <div class="texter">Personal Loan</div>
            </ion-item>
-->
            <div class="item item-button-right item-conct">
                <h3>Call Us</h3>
                <p>1800-266-0299</p>
                <div class="mking-call">
                    <img src="img/phone.png">
                </div>
            </div>
            <div class="item item-button-right item-conct">
                <h3>Write to Us</h3>
                <p>customercare@bestdealfinance.com</p>
                <div class="mking-call">
                    <img src="img/msg.png">
                </div>
            </div>
            <div class="item item-button-right item-conct">
                <h3>SMS</h3>
                <p>LOAN TO 56070</p>
                <div class="mking-call">
                    <img src="img/mobile.png">
                </div>
            </div>
        </ion-list>

    </ion-content>
    <ion-footer-bar class="cont-foot">
        <div class="menu-down">
            <a href="#/app/home">

                <div class="menu-mega">
                    <img src="img/home.png" style="width: 28px;">
                    <p>Home</p>
                </div>
            </a>
            <a href="#/app/genie">
                <div class="menu-mega">
                    <img src=img/ginie.png class="img-ginie">
                    <p>Deal Genie</p>
                </div>
            </a>
            <a href="#">
                <div class="menu-mega" style="padding-top: 10px;">
                    <img src=img/calci.png>
                    <p> Emi Calc.</p>
                </div>
            </a>
            <a href="#/app/myaccount">
                <div class="menu-mega" style="padding-top: 0px;">
                    <img src=img/user.png>
                    <p>My Account</p>
                </div>
            </a>
        </div>
    </ion-footer-bar>


</ion-view>