<ion-view view-title="Loan" class="scroll-bg">
    <ion-content class="has-header padding">
        <div class="padding"></div>
        <ion-list class="opaque-bg list-loan">
            <ion-item ng-repeat="check in checklist">
<!--
                <div class="best-deal">
                    Best Deal
                </div>
-->

                <!--                <img src="img/ribbon.png" class="ribbon">-->

                <div class="thumb-left text-center">
                    <p class="simple-text padded">Institution</p>
                    <img src="{{check.casa_cc_image1 | bankimagepath}}" alt="" class="full-image">
                    <p class="simple-text">{{check.casa_cc_card_name}}</p>

                </div>

                <div class="row no-pad bordered text-center">
                    <div class="col">
                        <p class="simple-text">Annual fee 2nd year onwards Rs. (In Rs)</p>
                        <h3>{{check.annual_fees_second_yr}}</h3>
                    </div>
                    <div class="col">
                        <p class="simple-text">Renewal fees</p>
                        <h3 class="margin-none">Same as <br> Annual <br>Fees</h3>
                    </div>
                    <div class="col">
                        <p class="simple-text">ROI</p>
                        <h3>{{check.casa_cc_roi}}</h3>
                    </div>
                </div>

                <div class="row no-pad bordered text-center">
                    <div class="col-75">
                        <h3>Feature</h3>
                        <p class="simple-text">
                            {{check.casa_cc_features}}
                        </p>
                    </div>
                    <div class="col-25">
                        <a href="#/app/thankyou">
                            <button class="button button-positive button-small button-apply">Apply</button>
                        </a>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>