<ion-view view-title="Loans For Individuals" class="scroll-bg">
    <ion-content class="has-header">
        <ion-list class="odd-even icon-on-left">
            <ion-item href="#/app/personal">
                <div class="icon-holder">
                    <i class="item-sprite person"></i>
                </div>
                <div class="texter">Personal Loan</div>
            </ion-item>
            <ion-item href="#/app/twowheelerloan">
                <div class="icon-holder">
                    <i class="item-sprite bike"></i>
                </div>
                <div class="texter">Two Wheeler Loan</div>
            </ion-item>
            <ion-item href="#/app/carloan">
                <div class=" icon-holder ">
                    <i class="item-sprite car "></i>
                </div>
                <div class="texter ">Car Loan</div>
            </ion-item>
            <ion-item href="#/app/homeloan">
                <div class="icon-holder ">
                    <i class="item-sprite home "></i>
                </div>
                <div class="texter">Home Loan</div>
            </ion-item>
            <ion-item href="#/app/credit">
                <div class="icon-holder ">
                    <i class="item-sprite cards "></i>
                </div>
                <div class="texter">Credit Cards</div>
            </ion-item>
            <ion-item href="#/app/securityloan">
                <div class="icon-holder">
                    <i class="item-sprite security "></i>
                </div>
                <div class="texter ">Loan Against Securities</div>
            </ion-item>
            <ion-item href="#/app/smefiles">
                <div class="icon-holder">
                    <i class="item-sprite property"></i>
                </div>
                <div class="texter">Loan Against Property</div>
            </ion-item>
            <!--
 <ion-item>
    <div class="icon-holder ">
        <i class="item-sprite eduction "></i>
    </div>
    <div class="texter ">Educational Loan</div>
</ion-item>
-->
        </ion-list>
    </ion-content>
</ion-view>