<ion-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Forgot Password</h1>
    </ion-header-bar>
    <ion-content class="has-header scroll-bg">

        <div class="full_brand">
            <img src="img/full_logo.png" alt="bdf">
        </div>

        <div class="padding"></div>

        <h2 class="stable text-center">Forgot Password</h2>

        <div class="simple-text">Please enter Email ID to retrive your password.</div>

        <div class="padding"></div>

        <form ng-submit="">
            <div class="list signin signup">
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-android-mail"></i></span>
                    <input type="email" placeholder="Email ID">
                </label>
            </div>

            <a href="#/app/home">
                <div class="button-image" ng-click="">
                    <img src="img/button.png" alt="" class="full-image">
                    <div class="button-text assertive">Submit</div>
                </div>
            </a>
        </form>

        <div class="padding"></div>

        <div class="simple-text">An email will be sent to your Email ID to reset your password.</div>

    </ion-content>
</ion-view>
