<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender *</span>
                    <select ng-model="refine.enq_gender" ng-init="refine.enq_gender=''" ng-class="allvalidation[0].validation" required>
                        <option value="">Please select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status *
                    </div>
                    <select ng-model="refine.enq_maritial_status" ng-init="refine.enq_maritial_status='Married'" ng-class="allvalidation[1].validation" required>
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                        <option value="Widowed">Widowed</option>
                        <option value="Separated">Separated</option>
                        <option value="Divorced">Divorced</option>

                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Resident</option>
                        <option>Not Resident</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Nationality *</span>

                    <div class="">
                        <input type="text" ng-model="refine.enq_nationality" ng-class="allvalidation[2].validation" required>
                    </div>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Type of Accommodation *
                    </div>
                    <select ng-model="refine.enq_present_use_property" ng-init="refine.enq_present_use_property = 'Owned'" ng-class="allvalidation[3].validation" required>
                        <option value="Owned">Owned</option>
                        <option value="Rented">Rented</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Staying Since * </span>
                    <input type="date" ng-model="refine.enq_staying_since" ng-class="allvalidation[4].validation" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Pin Code</span>


                    <input type="text">

                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Type of Company
                    </div>
                    <select ng-model="refine.enq_company_consitution" ng-init="refine.enq_company_consitution=''">
                        <option value="">Please select</option>
                        <option value="Public Limited">Public Limited</option>
                        <option value="MNC">MNC</option>
                        <option value="Private Limited">Private Limited</option>
                        <option value="Government/Semi-Government">Government/Semi-Government</option>
                        <option value="PSU">PSU</option>
                        <option value="School & Colleges">Schools &amp; Colleges</option>
                        <option value="Trust/Society">Trust/Society</option>
                        <option value="Partnership">Partnership</option>
                        <option value="Proprietorship">Proprietorship</option>
                    </select>
                </label>


                <label class="item item-input">
                    <span class="input-label">Current Employment Since *</span>
                    <input type="date" ng-model="refine.salary_credited_since" ng-class="allvalidation[5].validation" required>
                </label>


                <label class="item item-input">
                    <span class="input-label">Total Experience(Years)/Total Years in Business *</span>
                    <div>
                        <input type="text" ng-model="refine.pl_total_exp_job_years" ng-class="allvalidation[6].validation" required>
                    </div>
                </label>
                <label class="item item-input">
                    <span>Existing Bank Relationship</span>

                    <input type="text" ng-model="refine.enq_emi_existing_loan">

                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan? *
                    </div>
                    <select ng-model="refine.enq_have_loan_ddl" ng-class="allvalidation[7].validation" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </label>



            </div>

<!--            <a href="#/app/listloan">-->
            <a ng-click="refinepl()">
                <div class="button-image">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>