<ion-view view-title="Personal Loan" class="scroll-bg">
    <ion-content class="has-header font500">

        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input range-item">
                    <span class="input-label">Loan Amount</span>
                    <input type="number" ng-model="personal.loan">
                    <div class="range range-assertive">
                        <input type="range" min="100000" max="20000000" ng-model="personal.loan" step="1000">
                    </div>
                </label>

                <label class="item item-input range-item">
                    <span class="input-label">Tenure</span>
                    <input type="number" ng-model="personal.tenure">
                    <div class="range range-assertive">
                        <input type="range" min="6" max="84" ng-model="personal.tenure" step="1">
                    </div>
                </label>

                <label class="item item-input range-item">
                    <span class="input-label">Gross Monthly Income</span>
                    <input type="number" ng-model="personal.income">
                    <div class="range range-assertive">
                        <input type="range" min="15000" max="7500000" ng-model="personal.income" step="1000">
                    </div>
                </label>

                <label class="item item-input">
                    <span class="input-label">Date of Birth</span>
                    <input type="date">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        City
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Chandigarh</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Are You Salaried ?
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Occupation
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>A</option>
                        <option>B</option>
                    </select>
                </label>

                <label class="item item-input" ng-click="openedit();">
                    <div class=" input-label ">
                        Company
                    </div>
                    <!--
<select>
    <option>Please select</option>
    <option>Puratek company</option>
    <option>TCS</option>
</select>
-->
                </label>

                <ion-item class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-click="iagree()">
                    </label>
                    I Agree
                </ion-item>
                <div class="text-center light" ng-click="openTerms();">Know more</div>


            </div>

            <a href="#/app/listcheckloan">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Get me deals</div>
                </div>
            </a>
        </form>

    </ion-content>
</ion-view>