<ion-view view-title="Car Loan" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input range-item">
                    <span class="input-label">Loan Amount</span>
                    <input type="text" ng-model="carloan.enq_loanAmtTo">
                    <div class="range range-assertive">
                        <input type="range" min="100000" max="20000000" ng-model="carloan.enq_loanAmtTo" step="1000">
                    </div>
                </label>

                <label class="item item-input range-item">
                    <span class="input-label">Tenure</span>
                    <input type="text" ng-model="carloan.enq_tenureTo">
                    <div class="range range-assertive">
                        <input type="range" min="6" max="84" ng-model="carloan.enq_tenureTo" step="1">
                    </div>
                </label>

                <label class="item item-input range-item">
                    <span class="input-label">Gross Monthly Income</span>
                    <input type="text" ng-model="carloan.enq_currIncomeTo">
                    <div class="range range-assertive">
                        <input type="range" min="15000" max="7500000" ng-model="carloan.enq_currIncomeTo" step="1000">
                    </div>
                </label>

                <label class="item item-input">
                    <span class="input-label">Date of Birth</span>
                    <input type="date" ng-model="carloan.enq_dob">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        State
                    </div>
                    <select ng-model="carloan.enq_state">
                        <option>Please select</option>
                        <option ng-repeat="state in states" value="{{state.state_id}}">{{state.state_name}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Are You Salaried ?
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Occupation
                    </div>
                    <select ng-model="careloan.enq_occupation">
                        <option>Please select</option>
                        <option ng-repeat="occupation in occupations" value="occupation.occupation">{{occupation.occupation}}</option>
                    </select>
                </label>

                <label class="item item-input" ng-click="openedit();">
                    <div class=" input-label ">
                        Company
                    </div>
                    <!--
<select>
    <option>Please select</option>
    <option>Puratek company</option>
    <option>TCS</option>
</select>
-->
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Manufacturer
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>HONDA</option>
                        <option>MARUTI</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Model
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>MAZE</option>
                        <option>Maruti Suzuki</option>
                    </select>
                </label>
                <label class="item item-input">
                    <div class="input-label">Ex-Show Room Price of Car</div>
                    <div class="price">
                        <input type="text">
                    </div>
                </label>
                <ion-item class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-click="iagree()">
                    </label>
                    I Agree
                </ion-item>
                <div class="text-center light" ng-click="openTerms();">Know more</div>
            </div>
            <a href="#/app/carchklist">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Get Me Deals</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>