<ion-view view-title="Credit" class="scroll-bg">
    <ion-content class="has-header font500">


        <div class="list signin">
            <label class="item item-input range-item forrange">
                <span class="input-label">Gross Monthly Income*</span>
                <input type="text" ng-model="creditloan.enq_currIncomeTo" ng-class="allvalidation[0].validation" required>

            </label>
            <div class="range range-assertive">
                <input type="range" min="15000" max="5000000" ng-model="creditloan.enq_currIncomeTo" step="1000">
            </div>

            <label class="item item-input">
                <span class="input-label">Date of Birth*</span>
                <input type="date" ng-model="creditloan.enq_dob" ng-change="datechange()" ng-class="allvalidation[1].validation" required>
            </label>

            <label class="item item-input" ng-click="selectcity();" ng-model="creditloan.enq_city" ng-class="allvalidation[2].validation" required>
                <div class="input-label">
                    City*<span class="citysearch">{{cityName}}</span>
                </div>
                <!--
                <select ng-model="creditloan.enq_city" ng-class="allvalidation[2].validation" required>
                    <option ng-repeat="city in cities | orderBy:'city_name'" value="{{city.city_name}}">{{city.city_name}}</option>
                    
                        <option>Please select</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Chennai</option>

                </select>
-->
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Are You Salaried ?*
                </div>
                <select ng-model="creditloan.enq_is_salaried_ddl" ng-class="allvalidation[3].validation" required>
                    <option value="Please select">Please select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </label>
            <label class="item item-input item-select" ng-if="creditloan.enq_is_salaried_ddl == 'No'">
                <div class="input-label">
                    Occupation
                </div>
                <select ng-model="creditloan.enq_occupation" ng-init="creditloan.enq_occupation=''">
                    <option value="">Please select</option>
                    <option value="Housewife">Housewife</option>
                    <option value="Retired">Retired</option>
                    <option value="Self Employed">Self Employed</option>
                    <option value="Self Employed Professional">Self Employed Professional</option>
                    <option value="Self Employed Professional Doctor">Self Employed Professional Doctor</option>
                    <option value="Student">Student</option>
                </select>
            </label>
            <label class="item item-input" ng-click="openedit();" ng-if="creditloan.enq_is_salaried_ddl != 'No'">
                <div class=" input-label ">
                    Company
                </div>
                {{creditloan.enq_company_id}}
                <!--
<select>
    <option>Please select</option>
    <option>Puratek company</option>
    <option>TCS</option>
</select>
-->
            </label>
            <label class="item item-input">
                <span class="input-label">Current Employee Since*</span>
                <input type="date" ng-model="creditloan.salary_credited_since" ng-change="datechange()" ng-class="allvalidation[4].validation" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Years at current residence*</span>
                <input type="date" ng-model="creditloan.enq_staying_since" ng-change="datechange()" ng-class="allvalidation[5].validation" required>
            </label>


            <label class="item item-input item-select">
                <div class="input-label">
                    Salary Credited*
                </div>
                <select ng-model="creditloan.fd_maturity_type" ng-class="allvalidation[6].validation" required>
                    <!--                     <option ng-repeat="matur in maturs" value="{{matur.matur_type}}">{{matur.matur_type}}</option>-->
                    <option value="">Select</option>
                    <option value="Cash">Cash</option>
                    <option value="Check">Check</option>
                    <option value="Bank Account">Bank Account</option>
                </select>
            </label>


            <label class="item item-input item-select">
                <div class="input-label">
                    Existing Card Holder*
                </div>
                <select ng-model="creditloan.enq_existing_card_holder" ng-class="allvalidation[7].validation" required>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
            <!--
                <label class="item item-input">
                    <div class="input-label">Bank</div>
                    <div class="price">
                        <input type="text">
                    </div>
                </label>
-->
            <label class="item item-input">
                <div class="input-label">Credit Limit*</div>
                <div class="price">
                    <input type="text" ng-model="creditloan.cc_card_limit" ng-class="allvalidation[8].validation" required>
                </div>
            </label>
            <ion-item class="item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-click="iagree()">
                </label>
                I Agree
            </ion-item>
            <div class="text-center light" ng-click="openTerms();">Know more</div>
        </div>
        <a>
            <div class="button-image" ng-click="">
                <img src="img/button2.png" alt="" class="full-image">
                <div class="button-text assertive" ng-click="getmedeals(creditloan)">Get Me Deals</div>
            </div>
        </a>

    </ion-content>
</ion-view>