<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender</span>
                    <select ng-model="personel.enq_gender" ng-init="personel.enq_gender=''">
                        <option value="">Please select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status
                    </div>
                    <select ng-model="personel.enq_maritial_status" ng-init="personel.enq_maritial_status='Married'">
                        <option value="Married">Married</option>
                        <option value="Un-married">Un-married</option>

                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Resident</option>
                        <option>Not Resident</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Nationality</span>

                    <div class="">
                        <input type="text">
                    </div>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Type of Accommodation
                    </div>
                    <select ng-model="personel.enq_present_use_property" ng-init="personel.enq_present_use_property = 'Owned'">
                        <option value="Owned">Owned</option>
                        <option value="Rented">Rented</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Staying Since</span>
                    <input type="date" ng-model="personel.enq_staying_since">
                </label>

                <label class="item item-input">
                    <span class="input-label">Pin Code</span>


                    <input type="text">

                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Type of Company
                    </div>
                    <select ng-model="personel.enq_company_consitution" ng-init="personel.enq_company_consitution=''">
                        <option value="">Please select</option>
                        <option value="Public Limited">Public Limited</option>
                        <option value="Limited">Limited</option>
                    </select>
                </label>


                <label class="item item-input">
                    <span class="input-label">Current Employment Since</span>
                    <input type="date" ng-model="personel.salary_credited_since">
                </label>


                <label class="item item-input">
                    <span class="input-label">Total Experience(Years)/Total Years in Business</span>
                    <div>
                        <input type="text" ng-model="personel.pl_total_exp_job_years">
                    </div>
                </label>
                <label class="item item-input">
                    <span>Existing Bank Relationship</span>

                    <input type="text">

                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?
                    </div>
                    <select ng-model="personel.enq_have_loan_ddl">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>



            </div>

            <a href="#/app/listloan">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>