<ion-view view-title="Loan Against Properties" class="scroll-bg">
    <ion-content class="has-header font500">

        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input range-item">
                    <span class="input-label">Loan Amount</span>
                    <input type="number" ng-model="carloan.loan">
                    <div class="range range-assertive">
                        <input type="range" min="100000" max="20000000" ng-model="personal.loan" step="1000">
                    </div>
                </label>

                <label class="item item-input range-item">
                    <span class="input-label">Tenure</span>
                    <input type="number" ng-model="carloan.tenure">
                    <div class="range range-assertive">
                        <input type="range" min="6" max="84" ng-model="carloan.tenure" step="1">
                    </div>
                </label>

                <label class="item item-input range-item">
                    <span class="input-label">Gross Monthly Income</span>
                    <input type="number" ng-model="carloan.income">
                    <div class="range range-assertive">
                        <input type="range" min="15000" max="7500000" ng-model="carloan.income" step="1000">
                    </div>
                </label>

                <label class="item item-input">
                    <span class="input-label">Date of Birth</span>
                    <input type="date">
                </label>
                
                <label class="item item-input item-select">
                    <div class="input-label">
                        Are You Salaried ?
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </label>
                
                <label class="item item-input item-select">
                    <div class="input-label">
                        Occupation
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Housewife</option>
                        <option>Retired</option>
                        <option>Salaried</option>
                        <option>Self Employed</option>
                        <option>Self Employed Professional</option>
                        <option>Self Employed Professional Doctor</option>
                        <option>Student</option>
                    </select>
                </label> 
                
                <label class="item item-input">
                    <span class="input-label">Market value of Property</span>
                    <input type="text">
                    
                </label>
                
                 <label class="item item-input item-select">
                    <div class="input-label">
                       Type Of Property
                    </div>
                    <select>
                        <option>Commercial</option>
                        <option>Private</option>
                        <option>Personal</option>
                    </select>
                </label>
                
                <label class="item item-input item-select">
                    <div class="input-label">
                       Present Use of Property
                    </div>
                    <select>
                       <option>&nbsp;</option>
                        <option>Self occupied</option>
                        <option>On Rent</option>
                    </select>
                </label>
                
                   <label class="item item-input item-select">
                    <div class="input-label">
                       City
                    </div>
                    <select>
                        <option>Mumbai</option>
                        <option>Pune</option>
                        <option>Panvel</option>
                    </select>
                </label>
                    
                <ion-item class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-click="iagree()">
                    </label>
                    I Agree
                </ion-item>
                <div class="text-center light" ng-click="openTerms();">Know more</div>
            </div>
            <a href="#/app/propertychk">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Get me deals</div>
                </div>
            </a>
        </form>

    </ion-content>
</ion-view>