<ion-view view-title="Two Wheeler Loan" class="scroll-bg">
    <ion-content class="has-header font500">

        <div class="list signin">
            <label class="item item-input range-item forrange">
                <span class="input-label">Loan Amount*</span>
                <input type="tel" ng-model="twloan.enq_loanAmtTo" ng-class="allvalidation[0].validation" required only-digits ng-trim='false'>
            </label>
            <div class="range range-assertive">
                <input type="range" min="10000" max="1000000" step="1000" ng-model="twloan.enq_loanAmtTo" only-digits ng-trim='false'>
            </div>

            <label class="item item-input range-item forrange">
                <span class="input-label">Tenure*</span>
                <input type="tel" ng-model="twloan.enq_tenureTo" ng-class="allvalidation[1].validation" required only-digits ng-trim='false'>

            </label>
            <div class="range range-assertive">
                <input type="range" min="12" max="60" ng-model="twloan.enq_tenureTo" step="1">
            </div>

            <label class="item item-input range-item forrange">
                <span class="input-label">Gross Monthly Income*</span>
                <input type="tel" ng-model="twloan.enq_currIncomeTo" ng-class="allvalidation[2].validation" required only-digits ng-trim='false'>

            </label>
            <div class="range range-assertive">
                <input type="range" min="5000" max="500000" ng-model="twloan.enq_currIncomeTo" step="1000">
            </div>

            <label class="item item-input">
                <span class="input-label">Date of Birth*</span>
                <input type="date" ng-model="twloan.enq_dob" ng-class="allvalidation[3].validation" ng-change="datechange();" required>
            </label>


            <label class="item item-input item-select">
                <div class="input-label">
                    Are You Salaried ?*
                </div>
                <select ng-model="twloan.enq_is_salaried_ddl" ng-class="allvalidation[4].validation" required>
                    <option value="">Please Select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </label>

            <label class="item item-input item-select" ng-if="twloan.enq_is_salaried_ddl == 'No'">
                <div class="input-label">
                    Occupation
                </div>
                <select ng-model="twloan.enq_occupation"required>
                    <option value="">Please select</option>
                    <option value="Housewife">Housewife</option>
                    <option value="Retired">Retired</option>
                    <option value="Self Employed">Self Employed</option>
                    <option value="Self Employed Professional">Self Employed Professional</option>
                    <option value="Self Employed Professional Doctor">Self Employed Professional Doctor</option>
                    <option value="Student">Student</option>
                </select>
            </label>
            <label class="item item-input" ng-click="openedit();" ng-if="twloan.enq_is_salaried_ddl != 'No'">
                <div class=" input-label ">
                    Company
                </div>
                <div class="">
                    {{twloan.enq_company_id}}

                </div>
                <!--
<select>
    <option>Please select</option>
    <option>Puratek company</option>
    <option>TCS</option>
</select>
-->
            </label>

            <label class="item item-input" ng-click="selectcity();" ng-model="twloan.enq_city" ng-class="allvalidation[5].validation" required>
                <span class="input-label ">
                    City (Residing at)*
                </span>
                <div class="citysearch">{{cityName}}</div>
                <!--
                <select ng-model="twloan.enq_city" ng-class="allvalidation[5].validation" required>
                    <option ng-repeat="city in cities | orderBy:'city_name'" value="{{city.city_name}}">{{city.city_name}}</option>
                </select>
-->
            </label>

            <label class="item item-input item-select ">
                <div class="input-label ">
                    Manufacturer*
                </div>
                <select ng-model="twloan.enq_manufacturer" ng-change="getmodel(twloan.enq_manufacturer)" ng-class="allvalidation[6].validation" required>
                   <option value="">Please Select</option>
                    <option ng-repeat="manuf in manufacturers" value="{{manuf.manufacturer_id}}" ng-click="getmodel(manuf);">{{manuf.manufacturer_name}}</option>
                    <!--
                        <option>HONDA</option>
                        <option>MARUTI</option>
-->
                </select>
            </label>

            <label class="item item-input item-select ">
                <div class="input-label ">
                    Model*
                </div>
                <select ng-model="twloan.enq_model" ng-class="allvalidation[7].validation" required>
                   <option value="">Please Select</option>
                    <option ng-repeat="model in models" value="{{model.manufacturer_model_id}}">{{model.model_name}}</option>
                    <!--                        <option>Maruti Suzuki</option>-->
                </select>
            </label>


            <label class="item item-input ">
                <span class="input-label ">Ex-Show Room Price of Car*</span>
                <input type="tel" ng-model="twloan.ex_showroom_cost" ng-class="allvalidation[8].validation" required only-digits ng-trim='false'>

            </label>
            <ion-item class="item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-click="iagree()">
                </label>
                I Agree
            </ion-item>
            <div class="text-center light " ng-click="openTerms();">Know more</div>
        </div>
        <!--            <a href="#/app/twowheelerlistchk ">-->
        <a href="">
            <div class="button-image " ng-click="twloanclick(twloan);">
                <img src="img/button2.png " alt=" " class="full-image ">
                <div class="button-text assertive ">Get me deals</div>
            </div>
        </a>


    </ion-content>
</ion-view>