<ion-view view-title="Car Loan" class="scroll-bg">
    <ion-content class="has-header font500">

        <form ng-submit="" class="deal-form">
            <div class="list signin">
                <label class="item item-input range-item">
                    <span class="input-label">Gross Monthly Income</span>
                    <input type="number" ng-model="carloan.income">
                    <div class="range range-assertive">
                        <input type="range" min="15000" max="7500000" ng-model="carloan.income" step="1000">
                    </div>
                </label>

                <label class="item item-input">
                    <span class="input-label">Date of Birth</span>
                    <input type="date">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        City
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Chennai</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Are You Salaried ?
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Company
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>A</option>
                        <option>B</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Current Employee Since</span>
                    <input type="date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Years at current residence</span>
                    <input type="date">
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Salary Credited
                    </div>
                    <select>
                        <option>Select</option>
                        <option>Cash</option>
                        <option>Check</option>
                        <option>Bank Account</option>
                    </select>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Existing Card Holder
                    </div>
                    <select>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </label>
                <label class="item item-input">
                    <div class="input-label">Bank</div>
                    <div class="price">
                        <input type="text">
                    </div>
                </label>
                <label class="item item-input">
                    <div class="input-label">Credit Limit</div>
                    <div class="price">
                        <input type="text">
                    </div>
                </label>
                <ion-item class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-click="iagree()">
                    </label>
                    I Agree
                </ion-item>
                <div class="text-center light" ng-click="openTerms();">Know more</div>
            </div>
            <a href="#/app/creditapply">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Get Me Deals</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>