<ion-view view-title="Buy a Car" class="scroll-bg">
    <ion-content class="has-header font500">
        <ion-slide-box auto-play="true" class="sliderss">
            <ion-slide>
                <div class="box">
                    <div class="sliders">
                        <img src="img/slider.png">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <div class="sliders">
                        <img src="img/slider.png">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <div class="sliders">
                        <img src="img/slider.png">
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="navigationss">
            <img src="img/leftbutton.png" class="img-left">
            <img src="img/rightbar.png" class="img-right">
        </div>
        <div class="geinue-car">
            <div class="mk2">
                <img src="img/tickred.png">
                <h4>Apply Now</h4>
            </div>
            <div class="mk2">
                <img src="img/search.png">
                <h4>Search More</h4>
            </div>
        </div>
    </ion-content>
</ion-view>