<ion-view view-title=" ">
    <div class="full_brand atbottom">
        <img src="img/full_logo.png" alt="bdf">
    </div>
    <ion-content class="has-header scroll-bg">
        <div class="brand">
            <img src="img/logo.png" alt="bdf">
        </div>

        <div class="row text-center home-icon no-pad">
            <div class="col">
                <a href="#/app/myplan">
                    <img src="img/myplan.png" alt="">
                    <h6 class="light">My Plan</h6>
                </a>
            </div>
            <div class="col pad-up">
               <a href="#/app/finance"> <img src="img/retail.png" alt="">
                    <h6 class="light">Retail Finance</h6></a>
            </div>
            <div class="col pad-up">
                <a href="#/app/sme"><img src="img/smefinance.png" alt="">
                    <h6 class="light">SME Finance</h6></a>
            </div>
            <div class="col">
                <a href="#/app/genie"><img src="img/dealgenie.png" alt="">
                    <h6 class="light">Deals Genie</h6></a>
            </div>
        </div>

    </ion-content>
</ion-view>