<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender</span>
                    <select ng-model="refine.enq_gender">
                        <option>Please select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status
                    </div>
                    <select ng-model="refine.enq_maritial_status">
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Un-married</option>
                        <option>Widowed</option>
                        <option>Seperated</option>
                    </select>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select ng-model="refine.enq_status">
                        <option>Please select</option>
                        <option>Resident</option>
                        <option>NRI</option>
                        <option>Other</option>
                    </select>
                </label>


                <label class="item item-input">
                    <span class="input-label">Nationality</span>
                    <div class="">
                        <input type="text" ng-model="refine.enq_nationality">
                    </div>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Country
                    </div>
                    <select>
                        <option>India</option>
                        <option>Nepal</option>
                        <option>Bangladesh</option>
                        <option>UK</option>
                        <option>US</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Pin Code</span>
                    <input type="text" ng-model="refine.enq_pincode">

                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Clasification of Property
                    </div>
                    <select ng-model="refine.property_classification">
                        <option>Select</option>
                        <option>Flat</option>
                        <option>RowHouse</option>
                        <option>Banglow</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Property at Exclusive Rates
                    </div>
                    <select ng-model="refine.enq_exclusive_rate_property">
                        <option>Vinayak Unique,Vinayak Unique Gardens</option>
                        <option>Balaji Darshan, Balaji Darshan Making</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Employed Since</span>
                    <input type="date" ng-model="refine.salary_credited_since">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Purpose of Loan
                    </div>
                    <select ng-model="refine.enq_Purpose">
                        <option>Purchase</option>
                        <option>Construction</option>
                        <option>Extension</option>
                        <option>Repairs</option>

                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?
                    </div>
                    <select>
                        <option>&nbsp;</option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Status of Property
                    </div>
                    <select ng-model="refine.enq_present_use_property">
                        <option>&nbsp;</option>
                        <option>Ready Position</option>
                        <option>Construction</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Current Employment Since</span>
                    <input type="date">
                </label>

                <label class="item item-input">
                    <span>Total Work Experience (yrs)</span>
                    <input type="text">
                </label>
            </div>
            <a href="#/app/homeapply">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>