<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender*</span>
                    <select ng-model="refine.enq_gender" ng-class="allvalidation[0].validation" required>
                        <option value="">Please select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status*
                    </div>
                    <select ng-model="refine.enq_maritial_status" ng-class="allvalidation[1].validation" required>
                        <option value="">Please Select</option>
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                        <option>Seperated</option>
                    </select>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select ng-model="refine.enq_status">
                        <option value="">Please select</option>
                        <option>Resident</option>
                        <option>NRI</option>
                        <option>Merchant Navy</option>
                        <option>Other</option>
                    </select>
                </label>


<!--
                <label class="item item-input">
                    <span class="input-label">Nationality</span>
                    <div class="">
                        <input type="text" ng-model="refine.enq_nationality">
                    </div>
                </label>
-->

                <label class="item item-input item-select">
                    <div class="input-label">
                        Country*
                    </div>
                    <select ng-model="refine.enq_nationality" ng-class="allvalidation[2].validation" required>
                        <option value="">Please Select</option>
                        <option>India</option>
                        <option>Nepal</option>
                        <option>Bangladesh</option>
                        <option>UK</option>
                        <option>US</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Pin Code*</span>
                    <input type="text" maxlength="6" ng-model="refine.enq_pincode" only-digits ng-trim='false' ng-class="allvalidation[3].validation" required>

                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Classification of Property*
                    </div>
                    <select ng-model="refine.property_classification" ng-class="allvalidation[4].validation" required>
                        <option value="">Please select</option>
                        <option>Flat</option>
                        <option>RowHouse</option>
                        <option>Bunglow</option>
                        <option>other</option>
                    </select>
                </label>
				  <label class="item item-input">
                    <span class="input-label">Employed Since*</span>
                    <input type="date" ng-model="refine.salary_credited_since" ng-class="allvalidation[5].validation" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Property at Exclusive Rates
                    </div>
                    <select ng-model="refine.enq_exclusive_rate_property">
                        <option value="">Please Select</option>
                        <option>Vinayak Unique,Vinayak Unique Gardens</option>
                        <option>Balaji Darshan, Balaji Darshan Making</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Purpose of Loan*
                    </div>
                    <select ng-model="refine.enq_Purpose" ng-class="allvalidation[6].validation" required>
                        <option value="">Please Select</option>
                        <option>Purchase</option>
                        <option>Construction</option>
                        <option>Improvement</option>
                        <option>Renovation</option>
                        <option>Extension</option>
                        <option>Repairs</option>
                        <option>Others</option>

                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?*
                    </div>
                    <select ng-model="refine.enq_have_loan_ddl" ng-class="allvalidation[7].validation" required>
                        <option value="">Please Select</option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>
                   <label class="item item-input" ng-if="refine.enq_have_loan_ddl=='Yes'">
                    <span class="input-label">Total EMI Paid For Existing Loan</span>
                        <input type="tel" ng-model="refine.enq_emi_existing_loan" only-digits ng-trim='false'>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Status of Property*
                    </div>
                    <select ng-model="refine.enq_present_use_property" ng-class="allvalidation[8].validation" required>
                        <option value="">Please Select</option>
                        <option>Ready Position</option>
                        <option>Under Construction</option>
                        <option>Not Identified</option>
                    </select>
                </label>
				  <label class="item item-input" ng-model="refine.step_enq_city" ng-click="selectcity();" ng-class="allvalidation[9].validation" required>
                    <div class="input-label">
                        Property City*<span class="citysearch">{{cityName}}</span>
                    </div>
                </label>
                 <label class="item item-input item-select" ng-if="refine.enq_present_use_property=='Under Construction'">
                    <div class="input-label">
                        Builder/Developer 
                    </div>
                    <select ng-model="refine.developer" ng-change="getprojects(refine.developer);">
                        <option value="">Please Select</option>
                        <option ng-repeat="builder in builders">{{builder.developer}}</option>
                    </select>
                </label>
                 <label class="item item-input item-select" ng-if="refine.enq_present_use_property=='Under Construction'">
                    <div class="input-label">
                        Project Name
                    </div>
                    <select ng-model="refine.property_name">
                        <option value="">Please Select</option>
                        <option ng-repeat="project in projects">{{project.project}}</option>
                    </select>
                </label>

<!--
                <label class="item item-input">
                    <span>Total Work Experience (yrs)</span>
                    <input type="text">
                </label>
-->
            </div>
<!--            <a href="#/app/homeapply">-->
            <a ng-click="applyhome(refine)">
                <div class="button-image">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>