<ion-view view-title=" " class="scroll-bg">
    <div class="full_brand atbottom">
        <img src="img/full_logo.png" alt="bdf">
    </div>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-call">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="brand">
            <img src="img/logo.png" alt="bdf">
        </div>

        <div class="row text-center home-icon no-pad">
            <div class="col">
                <a href="#/app/listplan">
                    <img src="img/myplan.png" alt="">
                    <h6 class="light">My Plan</h6>
                </a>
            </div>
            <div class="col pad-up">
                <a href="#/app/finance">
                    <img src="img/retail.png" alt="">
                    <h6 class="light">Retail Finance</h6>
                </a>
            </div>
            <div class="col pad-up">
                <a href="#/app/sme">
                    <img src="img/smefinance.png" alt="">
                    <h6 class="light">SME Finance</h6>
                </a>
            </div>
            <div class="col">
                <a href="#/app/genie">
                    <img src="img/dealgenie.png" alt="">
                    <h6 class="light">Deals Genie</h6>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>