<ion-view view-title=" " class="scroll-bg-white">
    <div class="full_brand atbottom">
        <img src="img/color-logo.png" alt="bdf">
    </div>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-call" ng-click="clickcont()">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="center-holder">

            <a href="#/app/finance" class="home-clicker one">
                <img src="img/home-loans.png" alt="">
                <h6 class="dark">Loans For Individuals</h6>
            </a>
            
            <div class="brand-new">
                <img src="img/circle-logo-white.png" alt="bdf">
            </div>

            <a href="#/app/listplan" class="home-clicker two">
                <img src="img/home-plan.png" alt="">
                <h6 class="dark">My Plan</h6>
            </a>
            <a class="home-clicker three" ng-click="gotogenie();">
                <img src="img/home-genie.png" alt="">
                <h6 class="dark">Deal Genie</h6>
            </a>
            <a href="#/app/sme" class="home-clicker four">
                <img src="img/home-sme.png" alt="">
                <h6 class="dark">Loans for Business</h6>
            </a>

        </div>

    </ion-content>
</ion-view>