<ion-view view-title="Deals Genie" class="scroll-bg">
    <ion-content class="has-header">
        <ion-list class="gradient-list icon-on-left">
            <ion-item href="#/app/geniedeal/1">
                <div class="icon-holder">
                    <i class="item-sprite car"></i>
                </div>
                <div class="texter">Buy a Car</div>
            </ion-item>
            <ion-item href="#/app/geniedeal/2">
                <div class="icon-holder">
                    <i class="item-sprite home"></i>
                </div>
                <div class="texter">Buy a Home</div>
            </ion-item>
            <ion-item href="#/app/geniedeal/3">
                <div class="icon-holder">
                    <i class="item-sprite inhome"></i>
                </div>
                <div class="texter">Buy something for Home</div>
            </ion-item>
            <ion-item href="#/app/geniedeal/4">
                <div class="icon-holder">
                    <i class="item-sprite bike"></i>
                </div>
                <div class="texter">Get a Two Wheeler</div>
            </ion-item>
            <ion-item href="#/app/geniedeal/5">
                <div class="icon-holder">
                    <i class="item-sprite travel"></i>
                </div>
                <div class="texter">Go for Holidays</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>