<ion-view view-title="Plans" class="scroll-bg">
       <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-android-add" href="#/app/myplan">
        </a>
    </ion-nav-buttons>
    <ion-content class="has-header padding">

        <ion-list class="opaque-bg item-gap">
            <ion-item href="#/app/myplan">
                <ion-option-button class="button-assertive">Delete</ion-option-button>
                <h2>Plan Name</h2>
                <p>Rs.30,000</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>