<ion-view class="scroll-bg">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Login</h1>
        <button class="button button-icon ion-android-call ico-pad" ng-click="clickcont();">
        </button>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="brand">
            <img src="img/logo.png" alt="bdf">
        </div>

        <div class="padding"></div>

        <!--        <form ng-submit="">-->
        <div class="list signin">
            <label class="item item-input w85">
                <span class="input-label"><i class="icon ion-android-mail"></i></span>
                <input type="text" placeholder="Email Address *" ng-model="login.enq_username" ng-change="validateemail(login)" ng-class="allvalidation[0].validation" ng-trim='false' required>
            </label>
            <label class="item item-input w85">
                <span class="input-label"><i class="icon ion-android-lock"></i></span>
                <input type="password" placeholder="Password *" ng-model="login.enq_password" ng-class="allvalidation[1].validation" required>
            </label>
        </div>


        <a>
            <div class="button-image w85" ng-click="">
                <img src="img/button2.png" alt="" class="full-image">
                <div class="button-text assertive" ng-click="userlogin(login)">Sign In</div>
            </div>
        </a>
        <!--        </form>-->

        <div class="socials">
            <img src="img/facebook.png" alt="facebook">
            <img src="img/twitter.png" alt="twitter">
        </div>

        <div class="padding"></div>

        <div class="links">
            <a href="#/forgot">Forgot Password ?</a>
            <a href="#/register" class="pull-right">New here ? Sign Up</a>
        </div>

    </ion-content>
</ion-view>