<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" width="100">
        <!--
  <ion-header-bar class="bar-dark">
    <h1 class="title">Menu</h1>
</ion-header-bar>
-->
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/listplan" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely plan"></i>
                    </div>
                    <p>My Plan</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/finance" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely retail"></i>
                    </div>
                    <p>Retail
                        <br> Finance</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/sme" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely finance"></i>
                    </div>
                    <p> SME
                        <br> Finance</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/genie" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely genie"></i>
                    </div>
                    <p> Deal
                        <br> Genie</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/myaccount" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely account"></i>
                    </div>
                    <p>My Account </p>
                </ion-item>
            </ion-list>
            <!--
<ion-list>
    <ion-item nav-clear menu-close href="#/app/home" class="item-dark menu-dark">
        <div class="menu-lists">
            <i class="menu-spritely news"></i>
        </div>
        <p>News </p>
    </ion-item>
</ion-list>
-->
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/contact" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely contact"></i>
                    </div>
                    <p> Contact </p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely share"></i>
                    </div>
                    <p>Share
                        <br> this app</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item nav-clear menu-close ng-click="logoutuser();" class="item-dark menu-dark">
                    <div class="menu-lists">
                        <i class="menu-spritely logout"></i>
                    </div>
                    <p>Log out</p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>