<ion-view view-title="My Account" class="scroll-bg">
    <ion-content class="has-header font500">
        <div class="row">
            <div class="col">
                <div class="tabss tabss-color2" ng-class="myapp" ng-click="changemyapp()">
                    My Application
                </div>
            </div>
            <div class="col">
                <div class="tabss tabss-color2" ng-class="profile" ng-click="chnageprofile()">
                    My Profile
                </div>
            </div>
        </div>
        <div class="padding"></div>
        <div class="bold-list" ng-if="myapp=='bold'">
            <ion-list class="list-myprofile">
                <ion-item ng-repeat="apply in myapply">
                    <div class="row no-pad bordereds main-accnt text-center">
                        <div class="col-33 cls-bgcolor bordered">
                            <div class="assest">

                                <!--                                    <img src="img/car.png" class="car full-image">-->
                                <i class="item-sprite12 home" ng-if="apply.enq_loanType=='Home'"></i>
                                <i class="item-sprite12 cards" ng-if="apply.enq_loanType=='Credit Card'"></i>
                                <i class="item-sprite12 car" ng-if="apply.enq_loanType=='Car'"></i>
                                <i class="item-sprite12 bike" ng-if="apply.enq_loanType=='Two Wheeler'"></i>
                                <i class="item-sprite12 person" ng-if="apply.enq_loanType=='Personal'"></i>
                                <i class="item-sprite12 security" ng-if="apply.enq_loanType=='Loan Against Shares'"></i>
                                <i class="item-sprite12 property" ng-if="apply.enq_loanType=='Loan Against Property'"></i>
                                <i class="item-sprite12 commercial" ng-if="apply.enq_loanType=='Commercial Vehicle Finance'"></i>
                                <i class="item-sprite12 business" ng-if="apply.enq_loanType=='SME Business Solutions'"></i>
                                <i class="item-sprite12 project" ng-if="apply.enq_loanType=='SME Finance'"></i>
                                <p class="padded" style="white-space: normal;">{{apply.enq_loanType}}</p>
                            </div>
                        </div>
                        <div class="col-67 cls-bgcolors">
                            <div class="amt-text">
                                <p class="top-corner">ID: <span>{{apply.enq_appID}}</span>
                                </p>
                                <h2>Rs {{apply.enq_loanAmtTo}}</h2>
                            </div>

                            <div class="row no-pad bordereds text-center">
                                <div class="col">
                                    <p class="simple-text">EMI</p>
                                    <h3>{{apply.enq_applied_emi}}</h3>
                                </div>
                                <div class="col">
                                    <p class="simple-text">Months</p>
                                    <h3>{{apply.enq_tenureTo}}</h3>
                                </div>
                                <div class="col">
                                    <img src="img/edits.png" class="edit">
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <!--
                <ion-item>
                    <div class="row no-pad bordereds main-accnt text-center">
                        <div class="col-33 cls-bgcolor bordered">
                            <div class="assest">
                                <img src="img/house.png" class="car full-image">
                                <p class="padded">Home Loan</p>
                            </div>
                        </div>
                        <div class="col-67 cls-bgcolors">
                            <div class="amt-text">
                                <p class="top-corner">ID: <span>93834</span>
                                </p>
                                <h2>Rs 7,50,000</h2>
                            </div>

                            <div class="row no-pad bordereds text-center">
                                <div class="col">
                                    <p class="simple-text">EMI</p>
                                    <h3>20,000</h3>
                                </div>
                                <div class="col">
                                    <p class="simple-text">Months</p>
                                    <h3>2</h3>
                                </div>
                                <div class="col">
                                    <img src="img/right.png" class="edit">
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="row no-pad bordereds main-accnt text-center">
                        <div class="col-33 cls-bgcolor bordered">
                            <div class="assest">
                                <img src="img/creditcard.png" class="car full-image">
                                <p class="padded">Credit Loan</p>
                            </div>
                        </div>
                        <div class="col-67 cls-bgcolors">
                            <div class="amt-text">
                                <p class="top-corner">ID: <span>93834</span>
                                </p>
                                <h2>Rs 7,50,000</h2>
                            </div>

                            <div class="row no-pad bordereds text-center">
                                <div class="col">
                                    <p class="simple-text">EMI</p>
                                    <h3>20,000</h3>
                                </div>
                                <div class="col">
                                    <p class="simple-text">Months</p>
                                    <h3>2</h3>
                                </div>
                                <div class="col">
                                    <img src="img/reverse.png" class="edit">
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
-->
            </ion-list>
        </div>




        <div class="bold-list" ng-if="profile=='bold'">
            <form ng-submit="" class="deal-form">
                <div class="list signin">

                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="updateuser.enq_name" ng-class="allvalidation[0].validation" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date of Birth</span>
                        <input type="date" onfocus="(this.type='date')" placeholder="Date of Birth" ng-change="datechange();" ng-model="updateuser.enq_dob" ng-class="allvalidation[1].validation" required>
                    </label>

                    <label class="item item-input item-select ">
                        <div class="input-label ">
                            Gender
                        </div>
                        <select ng-model="updateuser.enq_gender" ng-class="allvalidation[2].validation" required>
                            <option value="">Please Select</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>other</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label ">
                            Marital Status
                        </div>
                        <select ng-model="updateuser.enq_maritial_status" ng-class="allvalidation[3].validation" required>
                            <option value="">Please Select</option>
                            <option>Un-married</option>
                            <option>Married</option>
                        </select>
                    </label>


                    <label class="item item-input ">
                        <span>  Mobile no. : </span>
                        <input type="tel" ng-model="updateuser.enq_mobile" ng-class="allvalidation[4].validation " ng-keypress="keypress($event) " required only-digits ng-trim='false' maxlength="10">
                    </label>
                    <label class="item item-input ">
                        <span>  Alternate no.:</span>
                        <input type="tel" ng-model="updateuser.enq_alt_no" only-digits ng-trim='false' maxlength="10">
                    </label>
                    <label class="item item-input ">
                        <span>  Email Id :</span>
                        <input type="email" ng-model="updateuser.enq_email" ng-class="allvalidation[5].validation" required>
                    </label>
                    <label class="item item-input ">
                        <span>  Altenate Email Id :</span>
                        <input type="email" ng-model="updateuser.enq_alt_email">
                    </label>
                    <label class="item item-input ">
                        <span>  Old Password : </span>
                        <input type="password" ng-model="updateuser.enq_old_password" ng-class="allvalidation[6].validation" required>
                    </label>
                    <label class="item item-input ">
                        <span>  New Password : </span>
                        <input type="password" ng-model="updateuser.enq_new_password" ng-class="allvalidation[7].validation" required>
                    </label>
                    <label class="item item-input ">
                        <span>  Retype New Password : </span>
                        <input type="password" ng-model="updateuser.enq_confirm_password" ng-class="allvalidation[8].validation" required>
                    </label>
                </div>

                <a>
                    <div class="button-image " ng-click=" ">
                        <img src="img/button2.png " alt=" " class="full-image ">
                        <div class="button-text assertive " ng-click="save(); ">Update</div>
                    </div>
                </a>
            </form>

        </div>
    </ion-content>
    <ion-footer-bar class="myaccfoot " ng-if="myapp=='bold' ">
        <div class="row ">
            <div class="col ">
                <div class="tabssdwn ">
                    <img src="img/right.png " class="rights "><span>
                        Applied
                    </span>
                </div>
            </div>
            <div class="col ">
                <div class="tabssdwn ">
                    <img src="img/reverse.png " class="rights ">
                    <span>Approved</span>
                </div>
            </div>
            <div class="col ">
                <div class="tabssdwn ">
                    <img src="img/edits.png " class="rights ">
                    <span>
                        In Process
                    </span>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>