<ion-view view-title="New Plan" class="scroll-bg">
    <ion-content class="has-header font500">
        <div class="padding"></div>
        <p class="light padding">Planning for ? <a href="#app/listplan" class="pull-right light">Existing Plans</a></p>
        <div class="row text-center no-pad">
<!--
            <div class="col" ng-class="{'selected':click}" ng-click="click = !click;click1 = false;click2 = false;click3 = false;">
                <i class="icon-sprite home"></i>
                <div class="simple-text">Home</div>
            </div>
            <div class="col" ng-class="{'selected':click1}" ng-click="click1 = !click1;click = false;click2 = false;click3 = false;">
                <i class="icon-sprite improvement"></i> 
                <div class="simple-text">Home Improvement</div>
            </div>
            <div class="col" ng-class="{'selected':click2}" ng-click="click2 = !click2;click1 = false;click = false;click3 = false;">
                <i class="icon-sprite automobile"></i> 
                <div class="simple-text">Automobiles</div>
            </div>
            <div class="col" ng-class="{'selected':click3}" ng-click="click3 = !click3;click1 = false;click2 = false;click = false;">
                <i class="icon-sprite travel"></i> 
                <div class="simple-text">Travel</div>
            </div>
-->
            <div class="col {{planfor.select}}" ng-repeat="planfor in planingfor" ng-click="changetab(planfor)">
                <i class="icon-sprite {{planfor.class}}"></i>
                <div class="simple-text">{{planfor.text}}</div>
            </div>
<!--
            <div class="col" ng-class="{'selected':click1}" ng-click="click1 = !click1;click = false;click2 = false;click3 = false;">
                <i class="icon-sprite improvement"></i> 
                <div class="simple-text">Home Improvement</div>
            </div>
            <div class="col" ng-class="{'selected':click2}" ng-click="click2 = !click2;click1 = false;click = false;click3 = false;">
                <i class="icon-sprite automobile"></i> 
                <div class="simple-text">Automobiles</div>
            </div>
            <div class="col" ng-class="{'selected':click3}" ng-click="click3 = !click3;click1 = false;click2 = false;click = false;">
                <i class="icon-sprite travel"></i> 
                <div class="simple-text">Travel</div>
            </div>
-->
        </div>

        <form ng-submit="" class="width90">
            <div class="list signin">
                <label class="item item-input">
                    <input type="text" placeholder="Plan Name *" ng-model="plan.planame" ng-class="allvalidation[0].validation" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Amount *" ng-model="plan.planamount" ng-class="allvalidation[1].validation" required>
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-android-calendar"></i></span>
                    <input type="text" onfocus="(this.type='date')" placeholder="Target Date *" ng-model="plan.plandate" ng-class="allvalidation[2].validation" required>
                </label>
            </div>


            <a>
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive" ng-click="inserplan(plan)">Set your plan</div>
                </div>
            </a>  
            
            
        </form>
    </ion-content>
</ion-view>