<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender*</span>
                    <select ng-model="refine.enq_gender" ng-class="allvalidation[0].validation" required>
                        <option value="">Please select</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>

                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status*
                    </div>
                    <select ng-model="refine.enq_maritial_status" ng-class="allvalidation[1].validation" required>
                        <option value="">Please Select</option>
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                        <option>Seperated</option>

                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select ng-model="refine.enq_status">
                        <option value="">Please select</option>
                        <option>Resident</option>
                        <option>Not Resident</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Nationality*</span>

                    <div class="">
                        <input type="text" ng-init="refine.enq_nationality='Indian'" ng-model="refine.enq_nationality" ng-class="allvalidation[2].validation" required>
                    </div>
                </label>
                
                 <label class="item item-input item-select">
                    <div class="input-label">
                        Classification Of Property*
                    </div>
                    <select ng-model="refine.property_classification" ng-class="allvalidation[3].validation" required>
                        <option value="">Please Select</option>
                        <option>Others</option>
                        <option>Personal</option>
                        <option>Malls with less than 60% foot fall</option>
                        
                    </select>
                </label>
                
                <label class="item item-input">
                    <span class="input-label">Pin Code</span>


                    <input type="tel" maxlength="6" ng-model="refine.enq_pincode" only-digits ng-trim='false' ng-class="allvalidation[8].validation" required>

                </label>
                
                 <label class="item item-input">
                    <span class="input-label">Area of Property(In sq.ft.)*</span>
                    <input type="tel" ng-model="refine.property_area" ng-class="allvalidation[4].validation" required only-digits ng-trim='false'>
                </label>
                
                 <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?*
                    </div>
                    <select ng-model="refine.enq_have_loan_ddl" ng-class="allvalidation[5].validation" required>
                        <option value"">Please Select</option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>
                
                <label class="item item-input">
                    <span class="input-label">Property Since*</span>
                    <input type="date" ng-model="refine.owner_expiry_date" ng-class="allvalidation[6].validation" required>
                </label>
                
                 <label class="item item-input item-select">
                    <div class="input-label">
                        Property Situated*
                    </div>
                    <select ng-model="refine.enq_property_situated" ng-class="allvalidation[7].validation" required>
                        <option value="">Please Select</option>
                        <option>Municipal corporation</option>
                        <option>L.street</option>
                        <option>Gram Panchayat Property</option>
                    </select>
                </label>
                
<!--
                <label class="item item-input item-select">
                    <div class="input-label">
                        Audited Financial
                    </div>
                    <select >
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </label>
                   
                   <label class="item item-input item-select">
                    <div class="input-label">
                        Current account last 1 year
                    </div>
                    <select>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </label>
                
       NOTE:FIELDS NOT PRESENT IN API.
-->



            </div>

<!--            <a href="#/app/propertyformapply">-->
            <a ng-click="refineproperty(refine)">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>