<ion-view view-title="Refer and Property" class="scrolls-bg">
    <ion-content class="has-header font500">
        <div class="padding"></div>
        <div class="refer">
            <div class="refer-head">
                <p>refer and <span class="earnclass">earn</span> `250/- instantly
                    <br> & upto `10,000/-*</p>
            </div>
            <div class="list refer-list">
                <ion-item>
                    <div class="icon-holder bg-holder">
                        <!--                        <i class="item-spritess friends"></i>-->
                        <img src=img/frnds.png>
                    </div>
                    <div class="refer-cont">
                        <h3 class="making-pad">Refer a Friend</h3>
                    </div>
                </ion-item>
                <div class="numbers no1">1</div>
                <ion-item>
                    <div class="icon-holder bg-holder">
                        <!--                        <i class="item-spritess vocher"></i>-->
                        <img src="img/money.png">
                    </div>
                    <div class="refer-cont">
                        <h3>GET ` 250/-<br>
VOUCHER INSTANTLY</h3>
                    </div>
                </ion-item>
                <div class="numbers no2">2</div>
                <ion-item>
                    <div class="icon-holder bg-holder">
                        <!--                        <i class="item-spritess friends"></i>-->
                        <img src="img/gift.png">
                    </div>
                    <div class="refer-cont">
                        <h3>EARN UPTO `10,000/-* <br>
ON LOAN DISBURSEMENT</h3>
                    </div>
                </ion-item>
                <div class="numbers no3">3</div>
                <ion-item>
                    <div class="icon-holder bg-holder">
                        <!--                        <i class="item-spritess friends"></i>-->
                        <img src="img/gifthand.png">
                    </div>
                    <div class="refer-cont">
                        <h3>PRIZE WILL BE SENT <br>
TO YOUR HOME</h3>
                    </div>
                </ion-item>
                <div class="numbers no4">4</div>
            </div>
        </div>
        <div class="refferals">
            <a href="#/app/thankyou">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Enquire Now</div>
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>