<ion-view view-title="Refer Details" class="scrolls-bg">
    <ion-content class="has-header font500">
        <div class="padding"></div>
        <div class="refer-property">
            <div class="associate">
                <div class="list patner">
                    <div class="item item-thumbnail-right">
                        <img src="img/assoicate.png" class="img-width" style="  max-height: 58px;top: 18px;">
                        <h2>ASSOCIATE<br>
PROGRAM</h2>
                    </div>
                </div>
                <a href="#/app/thankyou">
                    <div class="button-image" ng-click="">
                        <img src="img/button2.png" alt="" class="full-image">
                        <div class="button-text assertive">Enquire Now</div>
                    </div>
                </a>
            </div>

            <div class="refereal">
                <div class="list patner">
                    <div class="item item-thumbnail-right">
                        <img src="img/referal.png" class="img-width" style="max-height: 55px;max-width: 90px;top: 20px;">
                        <h2>REFERRAL <br>
PROGRAM</h2>
                    </div>
                </div>

                <div class="refferal">
                    <a href="#/app/thankyou">
                        <div class="button-image" ng-click="">
                            <img src="img/button2.png" alt="" class="full-image">
                            <div class="button-text assertive">Enquire Now</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>