<ion-view class="scroll-bg">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Register</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="full_brand">
            <img src="img/full_logo.png" alt="bdf">
        </div>

        <div class="padding"></div>

        <h2 class="stable text-center">Sign In / Sign Up</h2>

        <div class="simple-text">Welcome to <span class="bold">Bestdealfinance.com</span>. Since you are here
            <br>for the first time, do create an account with us.</div>

        <div class="padding"></div>

        <form class="frm-bdr" ng-submit="">
            <div class="list signin signup">
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-iphone"></i></span>
                    <input type="tel" placeholder="Mobile Number *" ng-model="register.enq_mobile" ng-class="allvalidation[0].validation" required maxlength="10" ng-keypress="keypress($event)">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-person"></i></span>
                    <input type="text" placeholder="Name *" ng-model="register.enq_name" ng-class="allvalidation[1].validation" required>
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-android-mail"></i></span>
                    <input type="email" placeholder="Email ID *" ng-model="register.enq_email" ng-class="allvalidation[2].validation" required name="uEmail">
                </label>

                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-android-calendar"></i></span>
                    <input type="text" onfocus="(this.type='date')" placeholder="Date of Birth" ng-change="datechange();" ng-model="register.enq_dob">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-android-create"></i></span>
                    <input type="password" placeholder="Password *" ng-model="register.enq_password1" ng-class="allvalidation[3].validation" required>
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-android-create"></i></span>
                    <input type="password" placeholder="Conform Password *" ng-model="register.password_again" ng-class="allvalidation[4].validation" required>
                </label>
            </div>

            <a>
                <div class="button-image" ng-click="">
                    <img src="img/button.png" alt="" class="full-image">
                    <div class="button-text assertive" ng-click="userregister(register)">Sign Up</div>
                </div>
            </a>
        </form>

        <div class="padding"></div>

        <div class="simple-text">
            We need to Sign In / Sign Up only once in this App
        </div>

    </ion-content>
</ion-view>