<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender</span>
                    <select>
                        <option>Please select</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>

                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status
                    </div>
                    <select>
                         <option>Please Select</option>
                         <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                        <option>Seperated</option>

                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select>
                        <option>Please select</option>
                        <option>Resident</option>
                        <option>Not Resident</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Nationality</span>

                    <div class="">
                        <input type="text">
                    </div>
                </label>
                
                <label class="item item-input">
                    <span class="input-label">Pin Code</span>


                    <input type="text">

                </label>
                
                 <label class="item item-input">
                    <span class="input-label">Details of the securities to be pledged</span>
                    <input type="date">
                </label>
                
                 <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?
                    </div>
                    <select>
       
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>
				    <label class="item item-input">
                    <span class="input-label">Total EMI Paid For Existing Loan</span>
                        <input type="text" ng-model="">
                </label>


            </div>

            <a href="#/app/securityformapply">
                <div class="button-image" ng-click="">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>