<ion-view view-title="SME Finance" class="scroll-bg">
    <ion-content class="has-header">
        <ion-list class="odd-even icon-on-left">
            <ion-item href="#/app/propertyloan">
                <div class="icon-holder">
                    <i class="item-sprite property"></i>
                </div>
                <div class="texter">Loan Against Property</div>
            </ion-item>
            <ion-item href="#/app/constructform">
                <div class="icon-holder">
                    <i class="item-sprite contruction"></i>
                </div>
                <div class="texter">Construction Equipment</div>
            </ion-item>
            <ion-item>
                <div class="icon-holder">
                    <i class="item-sprite health"></i>
                </div>
                <div class="texter">Health Care Equipment</div>
            </ion-item>
            <ion-item>
                <div class="icon-holder">
                    <i class="item-sprite commercial"></i>
                </div>
                <div class="texter">Commercial Value</div>
            </ion-item>
            <ion-item>
                <div class="icon-holder">
                    <i class="item-sprite business"></i>
                </div>
                <div class="texter">SME Business Solutions</div>
            </ion-item>
            <ion-item>
                <div class="icon-holder">
                    <i class="item-sprite project"></i>
                </div>
                <div class="texter">SME Project Finance</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>