<ion-view view-title="Loan Against Property" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">
                <label class="item item-input" style="padding-right: 16px;">
                    <ion-radio ng-model="choice" ng-value="'A'">Loan Against Property</ion-radio>
                </label>

                <label class="item item-input" style="padding-right: 16px;">
                    <ion-radio ng-model="choice" ng-value="'A'">Loan Against Rental Receivables</ion-radio>
                </label>
                <label class="item item-input" style="padding-right: 16px;">
                    <ion-radio ng-model="choice" ng-value="'A'"> Dropline Overdraft</ion-radio>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Loan For
                    </div>
                    <select ng-model="lap.loanfor" ng-class="allvalidation[0].validation" required>
                       <option value="">Please select</option>
                        <option>Self</option>
                        <option>Company</option>
                    </select>
                </label>
                <div class="text-center light" ng-click="openTerms();">Know more</div>
            </div>
            <a>
                <div class="button-image" ng-click="lappro(lap);">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>

    </ion-content>
</ion-view>