<ion-view view-title="Check Eligibility" class="scroll-bg">
    <ion-content class="has-header font500">
        <form ng-submit="" class="deal-form">
            <div class="list signin">

                <label class="item item-input item-select">
                    <span class="input-label">Gender</span>
                    <select ng-model="refine.enq_gender" ng-class="allvalidation[0].validation" required>
                        <option value="">Please select</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>

                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Marital Status
                    </div>
                    <select ng-model="refine.enq_maritial_status" ng-class="allvalidation[1].validation" required>
                        <option value="">Please Select</option>
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <!--                        <option>Un-married</option>-->
                        <option>Widowed</option>
                        <option>Seperated</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>
                    <select ng-model="refine.enq_status">
                        <option value="">Please select</option>
                        <option>Resident</option>
                        <option>NRI</option>
                        <option>Other</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Nationality</span>


                    <input type="text" ng-init="refine.enq_nationality='Indian'" ng-model="refine.enq_nationality" ng-class="allvalidation[2].validation" required>

                </label>

                <label class="item item-input">
                    <span class="input-label">Pin Code</span>


                    <input type="tel" ng-model="refine.enq_pincode">

                </label>

                <label class="item item-input">
                    <span class="input-label">Employed Since*</span>
                    <input type="date" ng-model="refine.salary_credited_since" ng-class="allvalidation[3].validation" required>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Residence
                    </div>
                    <select ng-model="refine.enq_residence_tw">
                        <option value="">Please Select</option>
                        <option>Owned</option>
                        <option>Rented</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Staying Since*</span>
                    <input type="date" ng-model="refine.enq_staying_since" ng-class="allvalidation[4].validation" required>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Do you have an existing loan?*
                    </div>
                    <select ng-model="refine.enq_have_loan_ddl" ng-change="show_hide();" ng-class="allvalidation[7].validation" required>
                        <option value="">Please Select</option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </label>



                <label class="item item-input item-select">
                    <div class="input-label">
                        Bank Account*
                    </div>
                    <select ng-model="refine.enq_bank_ac_tw" ng-class="allvalidation[5].validation" required ng-change="bs_show();">
                        <option value="">Please Select</option>
                        <option>Yes</option>
                        <option>No</option>

                    </select>
                </label>


                <label class="item item-input" ng-if="showbs==1">
                    <span class="input-label">Bank Account Since*</span>
                    <input type="date" ng-model="refine.enq_bank_ac_tw_since" ng-class="allvalidation[6].validation" required>
                </label>

                <label class="item item-input" ng-if="show==1">
                    <span class="input-label">Total EMI Paid For Existing Loan</span>
                    <input type="tel" ng-model="refine.enq_emi_existing_loan" required>
                </label>


            </div>

            <a href="">
                <div class="button-image" ng-click="refinetw();">
                    <img src="img/button2.png" alt="" class="full-image">
                    <div class="button-text assertive">Proceed</div>
                </div>
            </a>
        </form>
    </ion-content>
</ion-view>